*{
    line-height: 1.2;
    margin: 0;
}

html {
    color: #888;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}